/* Geral */

* {
    box-sizing: border-box;
}


/* Tablets */


/* SmartPhones */


/*conteúdo do modal*/

.container {
    margin: 0 auto;
    width: 940px;
}

.conteudo-modal {
    background-color: blanchedalmond;
}

.topo-ecommerce,
.topo-ecommerce h1 {
    font-weight: bold;
    /*text-transform: uppercase;*/
    color: #778899;
    text-align: justify;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 1.0;
    word-spacing: 3px;
    text-shadow: 2px 2px 5px white;
    /*alinhamento*/
    padding: 1% 2%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2% 1%;
    list-style: none;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 49%;
    height: 300px;
    font-size: 20px;
    color: black;
    font-size: 1.5em;
}

.flex-container>div h2 {
    font-weight: bold;
    /*text-transform: uppercase;*/
    color: #778899;
    text-align: justify;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 0;
    word-spacing: 3px;
    text-shadow: 2px 2px 5px white;
    /*alinhamento*/
    padding: 0% 2%;
}


/* FIM conteúdo do modal*/

.img-logo {
    width: auto;
    height: auto;
}

.img-content {
    width: 60px;
}


/* topo items */